{#<script>#}
    {#var n = $('.collection0').length;#}
    {#$('.needsCollectionClass2').addClass('collection' + n).removeClass('needsCollectionClass2');#}
    {#alert('')#}
    {#//remove temp class#}
{#</script>#}

{#<li class="needsCollectionClass2" style="border:1px solid green;margin:5px">#}
    {{ form_row(item.name) }}
{#</li>#}